<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="ILRepack.MSBuild.Task" version="1.0.9" targetFramework="net45" />
  <package id="Magick.NET-Q16-HDRI-AnyCPU" version="7.0.0.0008" targetFramework="net45" />
</packages>